.upload {
    border: 2px dashed #4db2ff;
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background: #23283a;
    transition: background 0.2s;
}
.upload-text {
    color: #b0c4de;
    font-size: 15px;
}

.choose-file-btn{
  display: inline-block;
  padding: 4px 10px;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 14px;
  background: #4db2ff;
  color: #fff;
}

.upload:hover {
    background: #2a3042;
}