.source-image {
    background: #23283a;
    border-radius: 10px;
    padding: 14px;
}
.source {
    max-width: 100%;
    margin-top: 8px;
    border-radius: 8px;
    display:block
}
.source-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 180px;
    font-size: 15px;
    background: #222;
    color: #888;
}